<header class=" w-100 text-right pr-5">
  <img class="object-fit-contain " style="width: 320px; height: 105px; "
    src="/assets/images/icon/forgot-password/prefeex-brand-log.svg" alt="prefeex-brand-log">
</header>

<div class="d-flex justify-content-center">
  <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 text-center forget-password">
    <h2 class="title-success mb-4 pb-1 mt-5"> Successful! </h2>
    <p class="sub-title mb-4 pb-2">
        Please go to Login page.
    </p>
    <img class="object-fit-contain mb-5 pb-2 mt-4" style="width: 92px; height: 94px;"
      src="/assets/images/icon/forgot-password/dog-green.svg" alt="">
    <a  [routerLink]="['/user/sign-in']" routerLinkActive="router-link-active" style="background: #b8423e;
    border: 1px solid #b8423e;" class="btn pf-btn-primary btn-block text-white">Now go to Login page</a>
  </div>
</div>
