<header class="tickent-details-header mb-4">
  <div class="row">
    <div class="col-3">
      <div class="d-flex justify-content-between">
        <div class="text-truncate">
          <span class="label-name">
            Ticket ID:
          </span>
          <span class="label-value">
            {{ticketRefId}}
          </span>
        </div>
        <div class="text-truncate">
          <span class="label-name">
            RefID:
          </span>
          <span class="label-value">
            {{ticketDetails?.order.refId}}
          </span></div>
      </div>
    </div>

    <div class="col-9">
      <div class="d-flex justify-content-between">
        <div class=" text-right">
          <span class="label-name">
            Status:
          </span>
          <span [title]="currentTicketStatus" class="label-value">
            {{currentTicketStatus}}
          </span>
        </div>
        <div class="text-right" *ngIf="hideButtonIfNotValidToShow()">
          <div class="input-group">
            <select [(ngModel)]="selectedWaitingTime" (change)="changeActionForWaitingTime(selectedWaitingTime)"
              class="ticket-time border-0 bg-transparent   form-control">
              <option *ngFor="let item of waitngTimes" [value]="item">{{item}}</option>
            </select>
            <div class="input-group-append">
              <span class="input-group-text border-0 bg-transparent rounded-0"> minutes for</span>
            </div>
          </div>
        </div>
        <div class="text-right" *ngIf="hideButtonIfNotValidToShow()">
          <button type="button" (click)="waitAticketCurrentlyWorkingOn()"
            class="btn pf-btn-primary pt-1 pb-1  btn-lg btn-block">Wait</button>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <!-- Left side panel -->
  <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
    <div class="card rounded-0 border-0">
      <div class="card-body order-details-callcenter">
        <!-- user information -->
        <div class="profile-con" style="cursor: pointer;" [routerLink]="['/admin/customer/'+orderDetails.customer.id]">
          <div>
            <h2 class="name mb-1 text-truncate">
              {{orderDetails.customer.firstName}} {{orderDetails.customer.lastName}}
            </h2>
            <p class="sub text-truncate">
              {{orderDetails.customer.email}}
            </p>
            <p class="phone text-truncate mb-0">
              {{orderDetails.customer?.mobile}}
            </p>
          </div>
        </div>
        <div class="profile-info">
          <p class="mb-1">
            Person Count: {{orderDetails.personCount}}
          </p>
          <p>Place At: {{orderDetails.createdAt | date:'MMM d, y h:mm a'}}</p>
        </div>

        <!-- Business information -->
        <div class="profile-con" style="cursor: pointer;"
          [routerLink]="['/admin/business/manage-business/'+orderDetails.business.id]">
          <div>
            <h2 class="name mb-1 text-truncate"> {{orderDetails.business.name}} </h2>
            <p class="sub text-truncate">
              <span *ngFor="let item of orderDetails.business.emails.slice(0, 2)">
                <span class="each-email">{{item.email}} </span>
                <br>
              </span>
            </p>
            <p class="phone mb-0 text-truncate">
              <span *ngFor="let item of orderDetails.business.phones.slice(0, 2)">
                <span class="each-phone">{{item.phone}} </span>
                <br>
              </span>
            </p>
          </div>
        </div>
        <div class="profile-info">
          <p class="mb-1">Booking Time: {{orderDetails.scheduledAt | date:'MMM d, y h:mm a'}}</p>
          <p class="sr-only">Seat Number: #2345</p>
        </div>
        <!-- Order Invoce  -->
        <div class="table-responsive">
          <table class="table order-details-table bg-white">
            <thead class="header">
              <tr (click)="isInvoiceCollapse = !isInvoiceCollapse">
                <th class="" scope="col" style="cursor: pointer">
                  <img style="width:25px;height:20px" src="/assets/images/ticket/ticket-invoice.svg"
                    class="object-fit-cover">
                  <span class="ml-1">Invoice</span>
                </th>
                <th scope="col" style="cursor: pointer">
                  <img *ngIf="!isInvoiceCollapse" style="width:7px;height:11px"
                    src="/assets/images/ticket/downarrow-bluar.svg" class="object-fit-cover" style="color: black">
                  <img *ngIf="isInvoiceCollapse" style="width:7px;height:11px"
                    src="/assets/images/ticket/right-arrow-bluar.svg" class="object-fit-cover" style="color: black">
                </th>
              </tr>
            </thead>
            <tbody [hidden]="!isInvoiceCollapse">
              <tr *ngFor="let item of orderDetails.foodOrders; index as i">
                <td colspan="2">
                  <div class="d-flex justify-content-between"
                    style="font-style: normal; font-weight: bold; font-size: 14px; line-height: 16px; color: #5E5E5E; margin-bottom: 10px;">
                    <span>{{i+1}}. {{item.foodMenu.itemName}}</span>
                    <span>{{item.excludingVatTotalPrice | currency:' ৳'}}</span>
                  </div>
                  <div class="d-flex justify-content-between" *ngFor="let addons of item.foodOrderAddons; index as i"
                    style="font-style: normal; font-weight: normal; font-size: 12px; line-height: 19px; color: #959595;">
                    <span class="pl-1"> {{addons.optionName}}{{(addons.excludingVatUnitPrice) | currency:' ৳'}} *
                      {{addons.unitCount}} </span>
                    <span>{{addons.excludingVatTotalPrice | currency:' ৳'}}</span>
                  </div>
                  <div class="d-flex justify-content-between"
                    style="padding-left:5px;padding-right:5px ;margin-top: 8px; font-style: normal; font-weight: normal; font-size: 12px; line-height: 22px; color: #5D5D5D; background-color: #EBEBEB; height: 22px;">
                    <span>
                      Quantity
                      <span style="font-weight: bold; color: #5D5D5D;">{{item.unitCount}}</span>
                    </span>
                    <span style="font-weight: bold; color: #5D5D5D;">
                      {{eachUnitPriceTotalWithAddons[i]}}
                    </span>
                  </div>
                </td>
              </tr>
              <!-- invoice sub total -->
              <tr style="border-bottom: 1px solid #A3A3A3;">
                <td colspan="2">
                  <div class="d-flex justify-content-between"
                    style="font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px; color: #5D5D5D; ">
                    <span> Total</span>
                    <span style="font-weight: bold;">{{subTotal | currency:'৳'}}</span>
                  </div>
                </td>
              </tr>
              <!-- invoice sub total -->
              <!-- using promo code -->
              <tr *ngIf="checkValueIsNumberAndPositive(orderDetails?.orderPromotion?.discountAmount)">
                <td colspan="2">
                  <div class="d-flex justify-content-between"
                    style="font-style: normal; font-weight: bold; font-size: 12px; line-height: 14px; color: #C66865;">
                    <span> Using Promo code </span>
                    <span style="font-weight: normal;">- ৳{{orderDetails?.orderPromotion?.discountAmount}}</span>
                  </div>
                </td>
              </tr>
              <!-- using promo code -->
              <!-- vat -->
              <tr *ngIf="checkValueIsNumberAndPositive(orderDetails.vatAmount)">
                <td colspan="2">
                  <div class="d-flex justify-content-between"
                    style="font-style: normal; font-weight: normal; font-size: 12px; line-height: 14px; color: #959595;">
                    <span> VAT ({{orderDetails.businessVatPercentage}}%) </span>
                    <span style="font-weight: normal;">৳{{orderDetails.vatAmount}}</span>
                  </div>
                </td>
              </tr>
              <!-- vat -->
              <!-- Service -->
              <tr *ngIf="checkValueIsNumberAndPositive(orderDetails.serviceChargeAmount)">
                <td colspan="2">
                  <div class="d-flex justify-content-between"
                    style="font-style: normal; font-weight: normal; font-size: 12px; line-height: 14px; color: #959595;">
                    <span> Service Charge ({{orderDetails.businessServiceChargePercentage}}%) </span>
                    <span style="font-weight: normal;">৳{{orderDetails.serviceChargeAmount}}</span>
                  </div>
                </td>
              </tr>
              <!-- Service -->
            </tbody>
            <tfoot>
              <tr>
                <td>Net Total</td>
                <td> {{netTotal | currency:'৳'}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- Order Invoce end -->
        <!-- order approved -->
        <div *ngIf="!isExpiryScheduledAt">
          <div class="d-flex order-approved-decline" *ngIf="hideButtonIfNotValidToShow()">
            <button type="button"
              *ngIf="currentTicketStatus != 'B2C_INPROGRESS' && currentTicketStatus != 'B2C_PENDING'"
              (click)="approvedOrderByInternalOrBusiness()" class="btn btn-primary btn-lg flex-fill mr-3">
              Approved
            </button>
            <button type="button"
              *ngIf="currentTicketStatus != 'B2C_INPROGRESS' && currentTicketStatus != 'B2C_PENDING'"
              (click)="declineOrderByInternalOrBusiness()" class="btn btn-primary btn-lg flex-fill">
              Decline
            </button>
            <button type="button"
              *ngIf="currentTicketStatus == 'B2C_INPROGRESS' || currentTicketStatus == 'B2C_PENDING'"
              (click)="cancelAnOrder()" class="btn btn-primary btn-lg flex-fill">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right side panel -->
  <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
    <section class="leave-message mb-4" *ngIf="hideButtonIfNotValidToShow()">
      <h3 class="executive-comment">Call center executive comment </h3>
      <form #noteForm="ngForm" (ngSubmit)="submitNoteForActivitiy(noteForm.value)">
        <div class="form-group mb-0">
          <div class="input-group">
            <input type="text" name="note" [(ngModel)]="noteActivity.note" #note="ngModel" class="form-control"
              placeholder="Leave your message">
            <div class="input-group-append">
              <button class="btn" type="submit">
                <span class="leave-message-icon">
                  <img style="width:20px;height:10px" src="/assets/images/icon/leave-message.svg"
                    class="object-fit-cover rounded-circle">
                </span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </section>
    <section class="customer-care-info">
      <table class="table customer-care-table">
        <thead>
          <tr>
            <th>Time</th>
            <th style="text-align: left">Activities</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allActivities">
            <td> {{item.createdAt | date:'MMM d, y h:mm a'}} </td>
            <td style="text-align: left" [innerHTML]="item.message"></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>

<p-dialog header="Confirmation message" [(visible)]="isVisibleConfirmationModal" [closable]="false" [modal]="true"
  [focusOnShow]="false" [responsive]="true" [resizable]="true" [style]="{minWidth: '30%'}" [baseZIndex]="100">
  <p>You want leave or reassign?</p>
  <p-footer>
    <button *ngIf="isReassignShow" type="button" pButton (click)="reassignOnTicket()"
      class="btn btn-success">Reassign</button>
    <button type="button" pButton (click)="leaveAndBackToTicketListingPage()" class="btn btn-danger">Leave</button>
  </p-footer>
</p-dialog>

<p-dialog header="Message for leave" [(visible)]="isVisibleLeaveModalWhenPaid" [closable]="false" [modal]="true"
  [focusOnShow]="false" [responsive]="true" [resizable]="true" [style]="{minWidth: '30%'}" [baseZIndex]="100">
  <p>Order payment done! You should leave now.</p>
  <p-footer>
    <button type="button" pButton (click)="leaveAndBackToTicketListingPage()" class="btn btn-danger">Leave</button>
  </p-footer>
</p-dialog>
