/** All Variable like theme color font size etc*/
// ---------------- theme color
// color

$white: #ffffff;

$blush: #f16553;
$blush-secondary: #C96B5D;
$blush-light: #f16553;
$white-gray: #EEEEEE;
$t-text-color: #5C5C5C;
$t-gray-dark: #5D5D5D;
$prefeex-border: #dee2e6;
$prefeex-table-border:  #5D5D5D;
$form-control-border: #ABABAB;
$prefeex-hover: rgba(255, 255, 255, 0.2);
$top-menu-bg: #F7F7F7;
$pf-chips-bg:#EBEBEB;
$pf-chips-t:#A1A1A1;
$change-password: #939598;
$ticket-header: #F2F2F2;
$payment-title: #A7A9AC;
$reviews-text: #717171;

// font-weight (numerical ) ---------------

$f-w-100: 100;
$f-w-300: 300;
$f-w-400: 400;
$f-w-500: 500;
$f-w-700: 700;
$f-w-700: 700;
$f-w-900: 900;

// font-weight (Word) ---------------------
$f-w-bold: bold;
$f-w-normal: normal;

// font-style -----------------------------
$f-s-normal: normal;

// font-family ----------------------------
$f-f-roboto: Roboto;



// font-size (PX) ---------------------------
$f-s-px-10: 10px;
$f-s-px-11: 11px;
$f-s-px-12: 12px;
$f-s-px-13: 13px;
$f-s-px-14: 14px;
$f-s-px-15: 15px;
$f-s-px-16: 16px;
$f-s-px-17: 17px;
$f-s-px-18: 18px;
$f-s-px-19: 19px;
$f-s-px-20: 20px;
$f-s-px-46: 46px;

// Font Size rem  16px===1rem -----------

$f-s-rem-10: 0.625rem;
$f-s-rem-11: 0.6875rem;
$f-s-rem-12: 0.75rem;
$f-s-rem-13: 0.8125rem;
$f-s-rem-14: 0.875rem;
$f-s-rem-15: 0.9375rem;
$f-s-rem-16: 1rem;
$f-s-rem-17: 1.0625rem;
$f-s-rem-18: 1.125rem;
$f-s-rem-19: 1.1875rem;
$f-s-rem-20: 1.25rem;
$f-s-rem-21: 1.3125rem;
$f-s-rem-22: 1.375rem;
$f-s-rem-23: 1.4375rem;
$f-s-rem-24: 1.5rem;
$f-s-rem-25: 1.5625rem;
$f-s-rem-36: 2.25rem;
$f-s-rem-46: 2.875rem;


// height ----------------------------

$height-10: 10px;
$height-15: 15px;
$height-20: 00px;
$height-25: 25px;
$height-30: 30px;
$height-35: 35px;
$height-40: 40px;
$height-45: 45px;
$height-50: 50px;
$height-55: 55px;
$height-60: 60px;
$height-65: 65px;
$height-70: 70px;
$height-75: 75px;

// $width-96 ----------------------------
$width-96: 96px;


