<!-- Order lists pagination section -->
<div class="row pf-pagination-container" [addOrRemoveClassToFixedTableHeader]="'350'">
  <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 pr-0">
    <h5 class="total-data mb-0 mt-2">Total: {{totalCount}}</h5>
  </div>
  <div class="form-group col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-0 bg-white">
    <form #customerSearchForm="ngForm" class="pf-search-component">
      <div class="input-group">
        <input type="text" name="searchingOrderRefId" [(ngModel)]="filter.searchingOrderRefId"
          #searchingOrderRefId="ngModel" class="form-control" placeholder="Search Ticket by Reservation ID"
          autocomplete="off">
        <div class="input-group-append" (click)="searchByOrderRefId()">
          <button class="btn btn-outline-secondary" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 pl-0">
    <p-paginator styleClass="prefeex-pagination" #paginator [rows]="itemPerPage" (onPageChange)="paginate($event)"
      [totalRecords]="totalCount" pageLinkSize="5" [rowsPerPageOptions]="[10, 50, 100]"></p-paginator>
  </div>
</div>
<!-- Order lists pagination section -->
<!-- Order lists data grid section -->

<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <p-table [value]="allTickets" styleClass="prefeex-data-table" tableStyleClass="table prefeex-thead-blush">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 90px">Ticket ID</th>
          <th style="width: 60px">RefID</th>
          <th class="px-0" style="width: 160px">
            <select class="status-filter" (change)="filterTicketOnTypeChange(ticketTypeForFilter)"
              [(ngModel)]="ticketTypeForFilter">
              <option selected [ngValue]="0"> All </option>
              <option *ngFor="let type of ticketTypes" [ngValue]="type.id">
                {{type.name}}
              </option>
            </select>
          </th>
          <th style="width: 50px">Details</th>
          <th>Business Name</th>
          <th>Place At</th>
          <th>Scheduled At </th>
          <th>Reservation Status</th>
          <th> Ticket Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr>
          <td style="width: 90px" class=" td-bold">
            {{ticket.ticketRefId}}
          </td>

          <td class=" td-bold" style="width: 60px">
            {{ticket?.order?.refId}}
          </td>

          <td style="width: 160px">{{ticket.ticketType.name}}</td>

          <td style="cursor: pointer" class="td-bold">
            <div class="btn-group" role="group" aria-label="Support view detaisl">
              <button type="button" class="btn btn-view" (click)="pickAssignTicketToMe(ticket.ticketRefId, ticket)">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </div>
          </td>

          <td class="td-bold">{{ticket.order?.businessName}}</td>
          <td> {{ticket?.order?.createdAt | date:'MMM d, y h:mm a'}} </td>
          <td> {{ticket?.order?.scheduledAt | date:'MMM d, y h:mm a'}}</td>
          <td> {{ticket?.order?.orderStatus.name}} </td>
          <td style="width: 100px" class="text-truncate td-bold">{{ticket?.ticketStatus.name}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<!-- Order lists data grid section -->