<header class=" w-100 text-right pr-5">
  <img class="object-fit-contain " style="width: 320px; height: 105px; "
    src="/assets/images/icon/forgot-password/prefeex-brand-log.svg" alt="prefeex-brand-log">
</header>

<div class="d-flex justify-content-center">
  <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 text-center forget-password">
      <h2 class="title mb-3 pb-1"> Reset Password </h2>
      <p class="sub-title mb-4 pb-2">
          Please reset your password to proceed with login.
      </p>
    <form class="forget-form mt-5" #newPasswordForm="ngForm" (ngSubmit)="newPasswordForm.valid && submitNewPassword(newPasswordForm)">
      <div class="input-group mb-4">
        <input
        [type]="isNewPassword ? 'text' : 'password'"
        type="text"
        class="form-control input-bg-gray-light rounded-0"
        name="newPassword"
        #newPassword="ngModel"
        [(ngModel)]="newPasswordModel.newPassword"
        aria-describedby="New Password"
        placeholder="New Password"
        required
        (change)="validateConfirmPass(newPasswordForm)"
        >
        <div class="input-group-append">
          <button class="btn" type="button" (click)="isPasswordShow('new_password')">
            <img class="object-fit-contain" style="width: 30px; height: 20px;"
              [src]="isNewPassword ? '/assets/images/icon/forgot-password/password-show.svg' : '/assets/images/icon/forgot-password/password-hide.svg'"
              alt="">
          </button>
        </div>
      </div>
      <div class="input-group">
        <input
        [type]="isConfirmPassword ? 'text' : 'password'"
        class="form-control input-bg-gray-light rounded-0"
        aria-describedby="Confirm New Password"
        placeholder="Confirm New Password"
        confirmEqualValidator="newPassword"
        name="confirmNewPassword"
        #confirmNewPassword="ngModel"
        [(ngModel)]="newPasswordModel.confirmNewPassword"
        required
        >
        <div class="input-group-append">
          <button class="btn" type="button" (click)="isPasswordShow('confirm_password')">
            <img class="object-fit-contain" style="width: 30px; height: 19px;"
              [src]="isConfirmPassword ? '/assets/images/icon/forgot-password/password-show.svg' : '/assets/images/icon/forgot-password/password-hide.svg'"
              alt="">
          </button>
        </div>
      </div>
      <button type="submit" class="btn pf-btn-primary btn-block btn-update">UPDATE</button>
    </form>
  </div>
</div>
