

.prefeex-breadcrumb {
  background-color: transparent;
  padding-left: 0px;
  padding-top: 0;
  background-color: transparent;
  padding-left: 0px;
  padding-top: 0;
  margin: 0px;
}

.prefeex-breadcrumb li.active {
  color: #dc0030;
  font-size: 18px;
}

/* prefeex-breadcrumb */
.prefeex-breadcrumb a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #DEDEDE;
}
