<header class=" w-100 text-right pr-5">
  <img class="object-fit-contain " style="width: 320px; height: 105px; "
    src="/assets/images/icon/forgot-password/prefeex-brand-log.svg" alt="prefeex-brand-log">
</header>

<div class="d-flex justify-content-center">
  <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 text-center forget-password">
    <img class="object-fit-contain mb-4 pb-2 mt-4" style="width: 87px; height: 66px;" src="/assets/images/icon/forgot-password/dog-blush.svg" alt="">
    <h2 class="title mb-3 pb-1"> Forgot Password? </h2>
    <p class="sub-title mb-4 pb-2">
       Please type your registered email address.
    </p>
    <form class="forget-form"  #forgetPasswordForm="ngForm" (ngSubmit)="forgetPasswordForm.valid && onSubmit(forgetPasswordForm)">
      <div class="form-group">
        <input
        type="email"
        class="form-control rounded-0"
        name="registeredEmail"
        aria-describedby="Registered Email"
        placeholder="Registered Email"
        id="email"
        name="email"
        [(ngModel)]="forgetPassword.email"
        required
        >
      </div>
      <button type="submit" class="btn pf-btn-primary btn-next">Next</button>
    </form>
  </div>
</div>


