<!-- Search by Reservation ID  -->
<form class="single-input-search">
  <div class="form-row mb-5">
    <div class="col-4">
      <label for="reservationId">Reservation ID</label>
      <div class="input-group">
        <input name="searchOrderRefId" [(ngModel)]="reservationSearch.searchOrderRefId"
          (ngModelChange)="invokeOnChnagingSearchData()" type="text" class="form-control rounded-0"
          placeholder="Reservation ID" aria-label="Recipient's Reservation ID with two button addons"
          aria-describedby="reservation-id">
        <div class="input-group-append">
          <button (click)="reservationSearchForm()" class="btn btn-outline-secondary rounded-0" type="submit">
            <span [hidden]="isApiSubmit"> <i class="fa fa-search" aria-hidden="true"></i> </span>
            <span [hidden]="!isApiSubmit">
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            </span>
          </button>
          <button (click)="clearSearchingForm()" class="btn btn-outline-secondary rounded-0" type="button">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Search by Reservation ID  -->

<!-- Order lists pagination section -->
<div class="row pf-pagination-container" [addOrRemoveClassToFixedTableHeader]="'400'">
  <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pr-0">
    <h5 class="total-data mb-0 mt-2">Total: {{totalCount}}</h5>
  </div>
  <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pl-0">
    <p-paginator #paginator styleClass="prefeex-pagination" [rows]="itemPerPage" (onPageChange)="paginate($event)"
      [totalRecords]="totalCount" pageLinkSize="5" [rowsPerPageOptions]="[10, 50, 100]"></p-paginator>
  </div>
</div>
<!-- Order lists pagination section -->
<!-- Order lists data grid section -->
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <p-table [value]="allReservation" styleClass="prefeex-data-table" tableStyleClass="table prefeex-thead-blush">
      <ng-template pTemplate="header">
        <tr>
          <th>Reservation ID</th>
          <th>Customer</th>
          <th>Amount</th>
          <th style="width: 150px;">
            <select class="status-filter" (change)="filterReservationOnStatusChange()" [(ngModel)]="statusForFilter"
              placeholder="Select status">
              <option selected [ngValue]="0"> All Status</option>
              <option *ngFor="let stat of reservationStatus" [ngValue]="stat.id">
                {{stat.name}}
              </option>
            </select>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-reservation>
        <tr>
          <td class="td-bold">
            <a class="td-bold">
              {{reservation.refId}}
            </a>
          </td>
          <td class="td-bold">
            {{ reservation.customer.firstName}} {{ reservation.customer.lastName}}
            <br *ngIf="reservation.customer.email">
            {{reservation.customer.email}}
            <br>
            <span *ngFor="let item of reservation.customer.phones">
              {{item.phone}}
            </span>
          </td>

          <td class="td-rad"> {{reservation.totalInvoicePrice | currency:'৳ '}} </td>
          <td class="td-bold" style="width: 150px;">
            <a [routerLink]="['/admin/orders/reservation', reservation.refId]">
              <span [ngSwitch]="reservation.orderStatus.name">
                <span *ngSwitchCase="'DECLINED'" class="declined">{{reservation.orderStatus.name}}</span>
                <span *ngSwitchCase="'CANCELED'" class="canceled">{{reservation.orderStatus.name}}</span>
                <span *ngSwitchCase="'CONFIRMED'" class="confirmed">{{reservation.orderStatus.name}}</span>
                <span *ngSwitchCase="'PENDING'" class="pending">{{reservation.orderStatus.name}}</span>
                <span *ngSwitchCase="'APPROVED'" class="approved">{{reservation.orderStatus.name}}</span>
                <span *ngSwitchCase="'COMPLETED'" class="completed">{{reservation.orderStatus.name}}</span>
              </span>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<!-- Order lists data grid section -->

<!-- content-loader -->
<app-content-loader *ngIf="isLoading" [theadcount]="4" [rowlength]="4"></app-content-loader>
<!-- content-loader -->