<!-- Display amount -->
<section class="display-box">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-around">
            <div>
              <img style="width:58px;height:45px" src="/assets/images/icon/accounts/received/total_received.svg"
                class="object-fit-cover mt-2">
            </div>
            <div>
              <h4 class="title-name mb-3">
                Total Received
              </h4>
              <h5 class="amount-number mt-1 mb-0">
                {{accountReceivedData.totalReceived | currency:'৳ '}}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Receivable pagination section -->
<div class="row pf-pagination-container" [addOrRemoveClassToFixedTableHeader]="'400'">
  <div class="col-12 col-sm-2 col-md-1 col-lg-1 col-xl-1 pr-0">
    <h5 class="total-data mb-0 mt-2">Total: {{totalCount}}</h5>
  </div>
  <div class="col-12 col-sm-2 col-md-1 col-lg-1 col-xl-1 pr-0 bg-white">
    <button *ngIf="totalCount > 0" class="btn pf-btn-primary" type="button" (click)="convert()"> PDF </button>
  </div>
  <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pr-0 bg-white">
    <!-- Search by Reservation ID  -->
    <form class="single-input-search">
      <div class="form-row">
        <div class="col-12">
          <div class="input-group">
            <input name="searchOrderRefId" [(ngModel)]="accountReceivedSearch.searchOrderRefId"
              (ngModelChange)="invokeOnChnagingSearchData()" type="text" class="form-control rounded-0"
              placeholder="Reservation ID" aria-label="Recipient's Reservation ID with two button addons"
              aria-describedby="reservation-id">
            <div class="input-group-append">
              <button (click)="receivedSearchForm()" class="btn btn-outline-secondary rounded-0" type="submit">
                <span [hidden]="isApiSubmit"> <i class="fa fa-search" aria-hidden="true"></i> </span>
                <span [hidden]="!isApiSubmit">
                  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                </span>
              </button>
              <button (click)="clearSearchingForm()" class="btn btn-outline-secondary rounded-0" type="button">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-6 pl-0">
    <p-paginator #paginator styleClass="prefeex-pagination" [rows]="itemPerPage" (onPageChange)="paginate($event)"
      [totalRecords]="totalCount" pageLinkSize="5" [rowsPerPageOptions]="[10, 50, 100]"></p-paginator>
  </div>
</div>
<!-- Receivable pagination section -->
<!-- Received data grid section -->
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <p-table [value]="receivedAll" styleClass="prefeex-data-table" tableStyleClass="table  prefeex-thead-blush">
      <ng-template pTemplate="header">
        <tr>
          <th>
            Date
            <i style="cursor: pointer;" *ngIf="!receivedSorting.createdAt" (click)="sortColumnWise('createdAt')"
              class="fa fa-sort-alpha-asc" aria-hidden="false"></i>
            <i style="cursor: pointer;" *ngIf="receivedSorting.createdAt" (click)="sortColumnWise('createdAt')"
              class="fa fa-sort-alpha-desc" aria-hidden="false"></i>
          </th>
          <th style="width: 110px;">Reservation ID</th>
          <th>For B2B</th>
          <th>Bank Transaction ID</th>
          <th>Received Amount</th>
          <th style="width: 50px;">Details</th>
          <th>Comment</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-received>
        <tr>
          <td>{{received.createdAt | date:'MMM d, y h:mm a'}}</td>
          <td class="td-bold" style="width: 110px;">{{received.order.refId}}</td>
          <td>{{received.business?.name}}</td>
          <td>{{received.bankTransactionId}}</td>
          <td class="td-bold td-rad">{{received.amount | currency:'৳ '}}</td>
          <td style="width: 50px;">
            <div class="btn-group" role="group" aria-label="payble view detaisl">
              <button type="button" class="btn btn-view" (click)="particularPayableDetails(received.order.refId)">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </div>
          </td>
          <td>{{received.comment}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<!-- Received data grid section -->

<!-- content-loader -->
<app-content-loader *ngIf="isLoading" [theadcount]="4" [rowlength]="4"></app-content-loader>
<!-- content-loader -->

<!-- Received view details Modal -->
<div class="modal fade bd-example-modal-xl" #ReceivedDetailsModal tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content pf-modal-withdraw">
      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title">
          Payment Details
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body payble-modal">
        <!--Common header section -->
        <header>
          <div class="row mb-4">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <h5 class="text-truncate mt-1">
                <span class="label mr-2">Payment for: </span>
                <span class="label-result">{{viewDetails.receivable.business?.name}}</span>
              </h5>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <h5 class="text-truncate mt-1">
                <span class="label mr-2">Invoice Date:</span>
                <span class="label-result">{{viewDetails.order.createdAt | date:'MMM d, y h:mm a'}}</span>
              </h5>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
              <img  src="/assets/images/icon/accounts/payble/payment-details.svg"
                class="object-fit-cover">
            </div>
          </div>
          <div class="row mb-4 pt-2 pb-2 ml-0 mr-0" style="background: #F7F7F7;">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <h5 class="text-truncate mb-2">
                <span class="label mr-2">Client ID:</span>
                <span class="label-result">{{viewDetails.order.creatorId}}</span>
              </h5>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <h5 class=" text-truncate mb-2">
                <span class="label  mr-2">Reservation ID:</span>
                <span class="label-result">{{viewDetails.order.refId}}</span>
              </h5>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <h5 class="text-truncate mb-2">
                <span class="label mr-2 mb-2"> Payment Gateway: </span>
                <span class="label-result"> {{viewDetails.receivable.paymentMethod?.name}}</span>
              </h5>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <h5 class="text-truncate mb-2">
                <span class="label mr-2 mb-2"> Transaction ID </span>
                <span class="label-result"> {{viewDetails.receivable.pgTransactionId}}</span>
              </h5>
            </div>
          </div>
        </header>

        <!--Common Received Divider-->
        <section class="divider">
          <div class="row invoice-details mb-4">
            <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12">
              <h5 class="text-truncate received text-center">
                <span class="label  mr-2">Received:</span>
                <span class="label-result">{{viewDetails.received.createdAt | date:'MMM d, y h:mm a'}}</span>
              </h5>
            </div>
          </div>
        </section>

        <div *ngIf="viewDetails.refund != null" class="mb-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Hours</th>
                <th scope="col">Applied</th>
                <th scope="col">B2C %</th>
                <th scope="col"> B2B %</th>
                <th scope="col"> Prefeex %</th>
                <th scope="col"> No Refund</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{viewDetails.refund.refundPolicyBreakdown?.appliedMillis / (1000 * 3600) }}h
                </td>
                <td>
                  <span *ngIf="viewDetails.refund.refundPolicyBreakdown?.isAppliedBeforeMillis"> Before </span>
                  <span *ngIf="!viewDetails.refund.refundPolicyBreakdown?.isAppliedBeforeMillis"> After </span>
                </td>
                <td> {{viewDetails.refund.refundPolicyBreakdown?.b2cPercentage }}</td>
                <td> {{viewDetails.refund.refundPolicyBreakdown?.b2bPercentage }}</td>
                <td> {{viewDetails.refund.refundPolicyBreakdown?.prefeexPercentage }}</td>
                <td>
                  <span *ngIf="viewDetails.refund.refundPolicyBreakdown?.isNoRefund"> Yes </span>
                  <span *ngIf="!viewDetails.refund.refundPolicyBreakdown?.isNoRefund"> No </span>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>

        <section class="row invoice-details">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h6 class="text-center">Invoice Details</h6>
            <div class="d-flex justify-content-between mb-2">
              <span class="name">Invoice Amount:</span>
              <span class="amount">{{viewDetails?.order.totalInvoicePrice | currency:'৳ '}}</span>
            </div>
            <div *ngIf="checkValueIsNumberAndPositive(viewDetails?.orderPromotion?.discountAmount)"
              class="d-flex justify-content-between mb-2">
              <span class="name">Discount Amount:</span>
              <span class="amount">{{viewDetails?.orderPromotion?.discountAmount | currency:'৳ -'}}</span>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <span class="name">SSL Fee: </span>
              <span class="amount">
                {{viewDetails.sslFee | currency:'৳ -'}}
              </span>
            </div>
            <p class="divider"></p>
            <div class="d-flex justify-content-between mb-2">
              <span class="amount">Received Amount:</span>
              <span class="amount">{{viewDetails.receivable.amount | currency:'৳ '}}</span>
            </div>
            <div *ngIf="checkValueIsNumberAndPositive(viewDetails?.order.vatAmount)"
              class="d-flex justify-content-between mb-2">
              <span class="amount">Vat Amount:</span>
              <span class="amount">{{viewDetails?.order.vatAmount | currency:'৳ '}}</span>
            </div>
            <div *ngIf="checkValueIsNumberAndPositive(viewDetails?.order.serviceChargeAmount)"
              class="d-flex justify-content-between mb-2">
              <span class="amount">Service Charge Amount:</span>
              <span class="amount">{{viewDetails?.order.serviceChargeAmount | currency:'৳ '}}</span>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h6 class="text-center">Breakdown Details</h6>
            <div class="d-flex justify-content-between mb-2">
              <span class="name">Received Amount:</span>
              <span class="amount">{{viewDetails.receivable.amount | currency:'৳ '}}</span>
            </div>
            <div *ngIf="checkValueIsNumberAndPositive(viewDetails?.orderPromotion?.discountAmount)"
              class="d-flex justify-content-between mb-2">
              <span class="name">Discount Amount:</span>
              <span class="amount">{{viewDetails.orderPromotion.discountAmount | currency:'৳ '}}</span>
            </div>
            <p class="divider"></p>
            <div *ngIf="checkValueIsNumberAndPositive(viewDetails?.orderPromotion?.discountAmount)"
              class="d-flex justify-content-between mb-2">
              <span class="name">Total Amount:</span>
              <span class="amount">{{viewDetails.netAmount | currency:'৳ '}}</span>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <span class="name">Prefeex Amount:</span>
              <span class="sub-name">As an agreement {{prefeexIndex.sharedPercentage}}%</span>
              <span class="amount">{{prefeexIndex.amount | currency:'৳ '}}</span>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <span class="name">B2B Amount:</span>
              <span class="sub-name">As an agreement {{b2bIndex.sharedPercentage}}%</span>
              <span class="amount">{{b2bIndex?.amount | currency:'৳ '}}</span>
            </div>
            <div *ngIf="checkValueIsNumberAndPositive(customerIndex?.amount)"
              class="d-flex justify-content-between mb-2">
              <span class="name">B2C Amount:</span>
              <span class="sub-name">As an agreement {{customerIndex.sharedPercentage}}%</span>
              <span class="amount">{{customerIndex?.amount | currency:'৳ '}}</span>
            </div>
            <p class="divider"></p>
            <div class="d-flex justify-content-between mb-2">
              <span class="amount">Net Amount:</span>
              <span class="amount">{{viewDetails.netAmount | currency:'৳ '}}</span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- Received view details Modal -->
